* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container1 {
    color:black;
    width:90%;
    font-family: 'Major Mono Display', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:0;
    font-size:25px;
}

.logo-container2 {
    color:black;
    width:90%;
    font-family: 'Major Mono Display', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom: 20px;
    
    font-size:20px;
}
.logo-link {
    text-decoration: none;
    color:black;
}

nav {
    background:white;
    color: grey;
    display:flex;
    justify-content: space-around;
    
}


.nav-links {
   display:flex;
   list-style: none;  
   
   width: 100%;
   align-items: center;
   justify-content: center;
   margin: 0px 0;
}

.nav-links-box {
    width:100%;
    margin: 15px auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav .nav-links .nav-link:hover {
    color:orange;;
}
.nav-link {
    color: grey;
    text-decoration: none;
    display: inline-block;
    padding:10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display:none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:110px;
    color:black;
}

nav .nav-links .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}


.masonryholder {
    column-count: 4;
    column-gap: 20px;   
    margin: auto auto;
    max-width: 1800px;
    border-bottom: 2px solid lightgray;
    
 
}

.masonryblocks {
    display: inline-block;
    background: white;
    padding:0px;
    margin: 0 0 15px;
    width: 100%;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

.masonryblocks img{
    width:100%;
}

.albumok {
    column-count: 4;
    column-gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
 
}

.album {
    position: relative; 
    display: inline-block;
    background: white;
    padding:0px;
    width: 320px;
    height: 320px;
    margin: 15px auto;
 
}


.borito {
    width:100%;
}


.borito-link {
    text-decoration: none;
}

.backButton{
    text-decoration: none;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 30px;
    
}
.BackContainer {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer i {
    cursor: pointer;
    margin-left: 15px;
}

.footer {
    
    font-size: 30px;
    height: 50px;
    margin-top: 250px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

h1 {
    position: absolute;
    right: 10px;
    font-size: 25px;
    font-weight: normal;
}

@media screen and (max-width: 789px){
    .masonryholder{
        column-count: 1;  
        margin:auto 5px;
    }

    .albumok{
        column-count: 1;  
        margin:30px auto;
    }

    nav .nav-links {
         height: 100vh;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 10;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background:black;
         transition: top 1s ease;
         display:none;
    
    }

    nav .nav-links .closeMenu {
         display:block;
         position: absolute;
         top: 20px;
         right: 20px;
    }

    nav .openMenu {
        display: block;
        position: absolute;
        top:30px;
        right:10px;
        margin-bottom:50px;
    }

    nav .nav-links .nav-link:hover {
        background: none;
        color:orange;
        font: size 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;

    }

    .AlbumFelirat {
        color:black;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .album {
        position: relative; 
        display: inline-block;
        padding:0px;
        width: 370px;
        height: 370px;
        margin-bottom:30px;
     
    }
    .borito {
        width:100%;
    }
    

}
    
@media screen and (min-width:790px){
    .masonryholder{
        column-count: 2;
    }
    
    .albumok{
        column-count: 2;  
        margin: 30px auto;
    }

    .AlbumFelirat {
        color:black;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;   
    
    }

    .album {
        position: relative; 
        display: inline-block;
        padding:0px;
        width: 350px;
        height: 350px;
        margin-bottom:30px;
     
    }
    .borito {
        width:100%;
    }
}


@media screen and (min-width:1150px){
    .masonryholder{
        column-count: 3;
        
    }

    .albumok{
        column-count: 3;
        margin: 30px auto;
        
    }

    .AlbumFelirat {
        color:white;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        height: 100%;   
    }

    .album:hover .AlbumFelirat{
        opacity: 1;
        transition: 0.5s;
    }

    .album {
        position: relative; 
        display: inline-block;
        padding:0px;
        width: 350px;
        height: 350px;
        
    }
    .borito {
        width:100%;
    }
}

@media screen and (min-width:1700px){
    .masonryholder{
        column-count: 4;
    }

    .albumok{
        column-count: 4;
        margin: 30px auto;
    }


    .AlbumFelirat {
        color:white;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        height: 100%;   
    }

    .album:hover .AlbumFelirat{
        opacity: 1;
        transition: 0.5s;
    }
}
