* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.logo-container {
    
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px auto;
}

.logo-container img {
    width: 100%;
}
                            /* -----navigációs menü formázások */

nav {
    background:white;
    color: grey;
    display:flex;
    justify-content: space-around;
    
}

.nav-links {
   display:flex;
   list-style: none;  
   width: 100%;
   align-items: center;
   justify-content: center;
   margin: 0px 0;
}

.nav-links-box {
    width:100%;
    margin: 15px auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


.nav-link {
    color:grey;
    text-decoration: none;
    display: inline-table;
    margin-left:20px;
    margin-bottom:15px;
    padding:0px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: medium;
    position: relative;
}

.nav-link:after{
    content:"";
    display: block;
    height: 2px;
    right:0%;
    position: absolute;
    background: gray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width:100%;
    left:0;
}
                            /* hamburger menü kis ablak esetén */

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display:none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top:200px;
    color:black;
}

nav .nav-links .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

                            /* ikonok hoverje */

.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

                            /* össze-vissza képek elrendezése */



.masonryblocks {
    display: inline-block;
    margin-bottom:20px;
    margin-left:auto;
    margin-right: auto;
}

.masonryblocks img{
    width:100%;
}

                        /* albumok elrendezése */

.album {
    position: relative; 
}

main {
    text-align: center;
 }

 
.borito-link {
    text-decoration: none;
}



.backButton{
    text-decoration: none;
    color: grey;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 30px;
    
}
.BackContainer {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footericon {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 200px;
    
}

.footericon i {
    color:gray;
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    justify-content: center;
}

.footer2021 {
    font-family: 'Arial';
    font-size:20px;
    color: gray;
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    
}

.grayline {
    border-top:solid 2px lightgray;
    margin:0 auto;
}


/*masonry reszponzitása egy oszlop esetén*/
@media screen and (max-width: 900px){
    .masonryholder{
        column-count: 1;
        column-gap:20px;
        max-width:800px;
        display: inline-block;
        margin-top:30px;
        margin-left:10px;
        margin-right: 10px;
        
    }

    .albumok {
        column-count: 1;
        display: inline-block;
        margin-top:40px;
        margin-bottom:20px;
        margin-left:10px;
        margin-right:10px;
    }


    .album {
        margin-bottom:40px;
        max-width:400px;
        max-height: 400px;
    }


    .borito {
        width:100%;
    }
    

    .AlbumFelirat {
        color:black;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    nav .nav-links {
         height: 100vh;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 10;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background:black;
         transition: top 1s ease;
         display:none;
    
    }

    nav .nav-links .closeMenu {
         display:block;
         position: absolute;
         top: 20px;
         right: 20px;
    }

    nav .openMenu {
        display: block;
        position: absolute;
        top:200px;
        right:0px;
        margin-bottom:50px;
    }

    .icons i {
        display: inline-block;
        padding: 12px;

    }
    
    .logo-container {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:40px auto;
    }

}
    
/*album reszponzitása 2 oszlop esetén*/
@media screen and (min-width:800px){
    .albumok {
        column-count: 2;
        column-gap: 50px;
        display: inline-block;
        margin-top:40px;
        margin-bottom:20px;
        margin-left:30px;
        margin-right:30px;
    }


    .album {
        margin-bottom:40px;
        max-width:400px;
        max-height: 400px;
    }


    .borito {
        width:100%;
    }
    

    .AlbumFelirat {
        color:black;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
}
/*masonry reszponzitása 2 oszlop esetén*/
@media screen and (min-width:900px){
    .masonryholder{
        column-count: 2;
        column-gap:20px;
        max-width:1200px;
        display: inline-block;
        margin-top:30px;
        margin-left:40px;
        margin-right: 40px;   
    }
}

/*album reszponzitása 3 oszlop esetén*/
@media screen and (min-width:1400px){
    .albumok {
        column-count: 3;
        column-gap: 40px;
        display: inline-block;
        margin-top:20px;
        margin-bottom:20px;
        
    }


    .album {
        margin-bottom:40px;
        max-width:400px;
        max-height: 400px;
    }


    .borito {
        width:100%;
    }
    

    .AlbumFelirat {
        color:white;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        height: 100%;   
    }

    .album:hover .AlbumFelirat{
        opacity: 1;
        transition: 0.5s;
    }




}
/*masonry reszponzitása 3 oszlop esetén*/
@media screen and (min-width:1200px){
    .masonryholder{
        column-count: 3;
        column-gap:30px;
        max-width:1600px;
        display: inline-block;
        text-align: center;
        margin-top:30px;
        
        
    }
}
/* albumok reszponzitása 4 oszlop esetén*/
@media screen and (min-width:1850px){

    .albumok {
        column-count: 4;
        column-gap: 30px;
        display: inline-block;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:30px;
        margin-right:30px;
    }


    .album {
        margin-bottom:40px;
        max-width:400px;
        max-height: 400px;
    }


    .borito {
        width:100%;
    }
    

    .AlbumFelirat {
        color:white;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width:100%;
        height: 100%;   
    }

    .album:hover .AlbumFelirat{
        opacity: 1;
        transition: 0.5s;
    }



}
/* masonry reszponzitása 4 oszlop esetén*/
@media screen and (min-width:1600px){

    .masonryholder{
        column-count: 4;
        column-gap:20px;
        max-width:2000px;
        display: inline-block;
        margin-top:30px;
        margin-left:40px;
        margin-right: 40px;
        
    }
}