* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container1 {
    color:black;
    width:90%;
    font-family: 'Major Mono Display', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:0;
    font-size:25px;
}

.logo-container2 {
    color:black;
    width:90%;
    font-family: 'Major Mono Display', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom: 20px;
    
    font-size:20px;
}
.logo-link {
    text-decoration: none;
    color:black;
}

nav {
    background:white;
    color: grey;
    display:flex;
    justify-content: space-around;
}

.nav-links {
   display:flex;
   list-style: none;  
   font-family: 'Montserrat', sans-serif;
   background-color: white;
   width: 100%;
   align-items: center;
   justify-content: center;
   margin: 0px 0;
}

.nav-links-box {
    width:100%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav .nav-links .nav-link:hover {
    color:orange;;
}
.nav-link {
    color: grey;
    text-decoration: none;
    display: inline-block;
    padding:10px;
    text-transform: uppercase;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display:none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:110px;
    color:black;
}

nav .nav-links .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}


.masonryholder {
    column-count: 4;
    column-gap: 20px;   
    margin: auto auto;
    max-width: 1600px;
    
 
}

.masonryblocks {
    display: inline-block;
    background: white;
    padding:0px;
    margin: 0 0 15px;
    width: 100%;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

.masonryblocks img{
    width:100%;
}

.albumok {
    column-count: 4;
    column-gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

    
}

.album {
    position: relative; 
    display: inline-block;
    background: white;
    padding:0px;
    width: 320px;
    height: 320px;
    margin: 15px auto;
 
}

.borito {
    width:100%;
}

.AlbumFelirat {
    color:white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height: 100%;
    
}

.borito-link {
    text-decoration: none;
}


.album:hover .AlbumFelirat{
    opacity: 1;
    transition: 0.5s;
}


@media screen and (max-width: 768px){
    .masonryholder{
        column-count: 1;  
        margin:auto 5px;
    }

    .albumok{
        column-count: 1;  
        margin:auto 5px;
    }

    nav .nav-links {
         height: 100vh;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 10;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background:black;
         transition: top 1s ease;
         display:none;
    
    }

    nav .nav-links .closeMenu {
         display:block;
         position: absolute;
         top: 20px;
         right: 20px;
    }

    nav .openMenu {
        display: block;
        position: absolute;
        top:10px;
        right:10px;
        margin-bottom:50px;
    }

    nav .nav-links .nav-link:hover {
        background: none;
        color:orange;
        font: size 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;

    }
    .logo-container1 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
        margin-bottom:0;
        font-size: 20px;
     
    }
    
    .logo-container2 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        margin-bottom:10px;
        font-size:18px;
    
    }
    .logo-link {
        text-decoration: none;
        color:black;
    }
}
    
@media screen and (min-width:769px){
    .masonryholder{
        column-count: 2;
    }
    
    .albumok{
        column-count: 2;
    }

    .logo-container1 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
        margin-bottom:0;
        font-size: 22px;
     
    }
    
    .logo-container2 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        margin-bottom:10px;
        font-size:20px;
    
    }
    .logo-link {
        text-decoration: none;
        color:black;
    }
}

@media screen and (min-width:1000px){
    .masonryholder{
        column-count: 3;
        
    }

    .albumok{
        column-count: 3;
        
    }
    .logo-container1 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
        margin-bottom:0;
        font-size: 24px;
     
    }
    
    .logo-container2 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        margin-bottom:10px;
        font-size:22px;
    
    }
    .logo-link {
        text-decoration: none;
        color:black;
    }
}

@media screen and (min-width:1200px){
    .masonryholder{
        column-count: 4;
    }

    .albumok{
        column-count: 4;
    }

    .logo-container1 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
        margin-bottom:0;
        font-size: 26px;
     
    }
    
    .logo-container2 {
        color:black;
        width:80%;
        font-family: 'Major Mono Display', monospace;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        margin-bottom:10px;
        font-size:24px;
    
    }
    .logo-link {
        text-decoration: none;
        color:black;
    }
}
